.title
{
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    font-size: 80px;
}

body
{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.header1
{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 65px;
}

.header2
{
    font-family: 'Gamja Flower', cursive;
    font-size: 50px; 
}

footer
{
    text-align: center;
    padding: 2px;
    color: black;
}

.button
{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px;
    font-size: 20px;
    text-align: center;
    outline: none;
    background-color: #FFCACA;
    color: white;
}

.btn
{
    font-size: 18px;
    text-align: center;
    border-color: #FFCACA;
    background-color: #FFCACA;
    color: white;
}

.buttonStyle:hover
{
    background-color: #FF9A9A;
    border-color: #FF9A9A;
}

table.center
{
    margin-left:auto; 
    margin-right:auto;
}

.styled-table
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 12px 12px 2px 1px #FADCDC;
}

.styled-table th,
.styled-table td
{
    padding: 12px 15px;
}

.styled-table tbody tr
{
    border-bottom: 1px solid #FFFAEA;
}

.styled-table tbody tr:nth-of-type(odd)
{
    background-color: #FFFAEA;
}

.card
{
    box-shadow: 0 4px 8px 0 #FFFAEA;
    transition: 0.3s;
}

.card:hover
{
    box-shadow: 0 8px 16px 0 #FFFAEA
}

canvas
{
    margin-left: auto;
    margin-right: auto;
}

input[type="text"]
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}