.title
{
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    font-size: 80px;
}

body
{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.header1
{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 18px;
}

.header2
{
    font-family: 'Gamja Flower', cursive;
    font-size: 18px; 
}

footer
{
    text-align: center;
    padding: 2px;
    color: black;
}

button
{
    padding: 1rem;
    margin: 15px;
    font-size: 20px;
    border: none;
}

.grow:hover
{
    transform: scale(1.05);
}