{% extends "layout.html" %}

{% block title %}
    Analysis
{% endblock %}

{% block main %}

  <h4 class=header2>how has your sleep been?</h4>

  <br>
    <p><b>average hours slept:</b> {{avg_hours}}</p>
    <p><b>average snoozes:</b> {{avg_snoozes}}</p>
  <br>
    <p><b>sleep log:</b></p>

  <!DOCTYPE html>
  <html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <body>
  <canvas id="sleeplog" style="width:100%;max-width:600px"></canvas>

  <script>
  new Chart("sleeplog", {
    type: "line",
    data: {
      labels: {{time | safe}},
      datasets: [{
        data : {{ hours | safe}},
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "#FFCACA",
      }]
    },
    options: {
      legend: {display: false},
      scales: {
        yAxes: [{ticks: {min: 0, max:24}}],
      }
    }
  });
  </script> <br>

  <br>
    <p><b>sleep quality log:</b></p>
  <canvas id="sleepquality" style="width:100%;max-width:600px"></canvas>
  <script>
    var xValues = ["BEST NIGHT EVER \^_^/ !!", "good", "eh... it was okay ", "not so great", "didn't sleep a Wink T_T"];
    var yValues = [{{ A | safe}}, {{ B | safe}}, {{ C | safe}}, {{ D | safe}}, {{ E | safe}}];
    var barColors = ["#FFCACA", "#FEEDB1","#BCF6E1", "#B5E6FA", "#FAC9F8"];
    
    new Chart("sleepquality", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues,
        }]
      },
      options: {
      legend: {display: false},
      scales: {
        yAxes: [{ticks: {min: 0}}],
      }
    }
    });
    </script><br>

  <br>
    <p><b>morning mood log:</b></p>
  <canvas id="moodlog" style="width:100%;max-width:600px"></canvas>
  <script>
    var jValues = ["excited", "happy", "ok", "sleepy", "sad", "tired"];
    var kValues = [{{ Z | safe}}, {{ Y | safe}}, {{ X | safe}}, {{ W | safe}}, {{ S | safe}}, {{ V | safe}}];
    var barColors = [
      "#FFCACA",
      "#FFD8B5",
      "#FEEDB1",
      "#BCF6E1",
      "#B5E6FA",
      "#FAC9F8"
    ];
    
    new Chart("moodlog", {
      type: "doughnut",
      data: {
        labels: jValues,
        datasets: [{
          backgroundColor: barColors,
          data: kValues
        }]
      },
      options: {
        title: {
          display: true,
          text: ""
        }
      }
    });
    </script>
    </html>
{% endblock %}


