{% extends "layout.html" %}

{% block title %}
    Analysis
{% endblock %}

{% block main %}

Average Hours Slept : {{avg_hours}} <br>
Average Snoozes : {{avg_snoozes}} <br>

Sleep Log: <br>
<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
<canvas id="sleeplog" style="width:100%;max-width:600px"></canvas>

<script>
new Chart("sleeplog", {
  type: "line",
  data: {
    labels: {{time | safe}},
    datasets: [{
      data : {{ hours | safe}},
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 0, max:24}}],
    }
  }
});
</script> <br>

Sleep Quality Log: <br>
<canvas id="sleepquality" style="width:100%;max-width:600px"></canvas>
<script>
  var xValues = ["BEST NIGHT EVER \^_^/ !!", "Good", "Eh... it was okay ", "Not so great", "Didn't Sleep a Wink T_T"];
  var yValues = [{{ A | safe}}, {{ B | safe}}, {{ C | safe}}, {{ D | safe}}, {{ E | safe}}];
  var barColors = ["red", "green","blue","orange","brown"];
  
  new Chart("sleepquality", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues,
      }]
    },
    options: {
      legend: {display: false},
      // scales: {
      // yAxes: [{min: 0}],
      // }
      title: {
        display: true,
        text: ""
      }
    }
  });
  </script><br>

Morning Mood Log: <br>
<canvas id="moodlog" style="width:100%;max-width:600px"></canvas>
<script>
  var jValues = ["Excited", "Happy", "Ok", "Sleepy", "Sad", "Tired"];
  var kValues = [1, 2, 3, 4, 5, 6]
  var kValues = [{{ Z | safe}}, {{ Y | safe}}, {{ X | safe}}, {{ W | safe}}, {{ S | safe}}, {{ V | safe}}];
  var barColors = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145", 
    "RED"
  ];
  
  new Chart("moodlog", {
    type: "doughnut",
    data: {
      labels: jValues,
      datasets: [{
        backgroundColor: barColors,
        data: kValues
      }]
    },
    options: {
      title: {
        display: true,
        text: ""
      }
    }
  });
  </script>
  </html>
{% endblock %}


