{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password_confirmation" name="new_password_confirmation" placeholder="New Password Confirmation" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}