{% extends "layout.html" %}

{% block title %}
    Diary
{% endblock %}

{% block main %}
<form action="/diary" method="post">
    <div class = "header">
        <p class="title">SleepS50</p>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">how many hours did you sleep last night?</label>
        <input type="text" class="form-control" id="hours_slept" name="hours_slept" placeholder="input a number!">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">how many times did you snooze your alarm this morning? (hint: dont lie!)</label>
        <input type="text" class="form-control" id="snoozes" name="snoozes" placeholder="input a number!">
    </div>
    <!--something for sleep quality and sleeping mood-->
    <!--sleep quality-->
    <div class="mb-3">
        <p>How was your sleep last night?</p>
        <!-- <button id="sleep" name="sleep" type="submit" value="1">BEST NIGHT EVER!</button>
        <button id="sleep" name="sleep" type="submit" value="2">Good</button>
        <button id="sleep" name="sleep" type="submit" value="3">Eh...It was okay</button>
        <button id="sleep" name="sleep" type="submit" value="4">Not so good</button>
        <button id="sleep" name="sleep" type="submit" value="5">Didn't sleep a wink T_T</button> -->
        <input type="radio" id="sleep" name="sleep" value="1">
        <label for="html">BEST NIGHT EVER!</label><br>
        <input type="radio" id="sleep" name="sleep" value="2">
        <label for="html">Good</label><br>
        <input type="radio" id="sleep" name="sleep" value="3">
        <label for="html">Eh...It was okay</label><br>
        <input type="radio" id="sleep" name="sleep" value="4">
        <label for="html">Not so good</label><br>
        <input type="radio" id="sleep" name="sleep" value="5">
        <label for="html">Didn't sleep a wink</label><br>
 
    </div>
    <div class="mb-3">
        <p>Your morning mood?</p>
        <!-- <button id="vibe" name="vibe" type="submit" value="1">&#128518</button> 
        <button id="vibe" name="vibe" type="submit" value="2">&#128522</button> 
        <button id="vibe" name="vibe" type="submit" value="3">&#128528</button> 
        <button id="vibe" name="vibe" type="submit" value="4">&#128554</button> 
        <button id="vibe" name="vibe" type="submit" value="5">&#128579</button> 
        <button id="vibe" name="vibe" type="submit" value="6">&#128580</button>  -->
        <input type="radio" id="vibe" name="vibe" value="a">
        <label for="html">&#128518</label>
        <input type="radio" id="vibe" name="vibe" value="b">
        <label for="html">&#128522</label>
        <input type="radio" id="vibe" name="vibe" value="c">
        <label for="html">&#128528</label>
        <input type="radio" id="vibe" name="vibe" value="d">
        <label for="html">&#128554</label>
        <input type="radio" id="vibe" name="vibe" value="e">
        <label for="html">&#128579</label>
        <input type="radio" id="vibe" name="vibe" value="f">
        <label for="html">&#128580</label>
        
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">what are your goals for today?</label>
        <input type="text" class="form-control" id="daily_goals" name="daily_goals" placeholder="be brave, be bold, and be courageous!">
    </div> 
    <!-- <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">what are your goals for today?</label>
        <input type="text" class="form-control" id="sleep_quality" name="sleep_quality" placeholder="be brave, be bold, and be courageous!">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">what are your goals for today?</label>
        <input type="text" class="form-control" id="mood" name="mood" placeholder="be brave, be bold, and be courageous!">
    </div> -->
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">did you have a dream last night? do you remember it?</label>
        <input type="text" class="form-control" id="dream" name="dream" placeholder="record your dream last night if you remember :)">
    </div>
    </div>
    <button class="btn btn-primary buttonStyle" type="submit">submit diary</button>
</form>
{% endblock %}