{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}
    <form action="/get_resources" method="post">    
        <fieldset>      
            <legend>what are you interested in learning about?</legend>           
            <input type="checkbox" name="sleep_tips" value="sleep_tips">general sleep tips<br>   
            <input type="checkbox" name="meditation" value="meditation">meditation<br>    
            <input type="checkbox" name="music" value="music">music for sleeping<br>
            <input type="checkbox" name="dreams" value="dreams">understanding dreams<br>            
            <br>      
            <input type="submit" value="get some resources!" />      
        </fieldset>      
    </form>
{% endblock %}