{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container">
        <br>
        <h4 class=header2>this is SleepS50</h4>
            <div>
               <p>
                    welcome! we're here to help you improve your sleep and well-being, one night at a time. all you need to do is log your data every morning, and we'll help you track your progress. register or log in to get started!  
               </p>
            </div>
    
            <div class="container">
                <div class="row">
                  <div class="col">
                    <a href="/register" class="button">register</a>
                  </div>
                  <div class="col">
                    <a href="/login" class="button">log in</a>
                  </div>
                </div>
              </div>
    
    </div>
{% endblock %}