<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- CHANGE THIS -->
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.ico" rel="icon">

        <!--HEADING 1: Nanum Pen Script Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

        <!--HEADING 2: Gamja Flower Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

        <!--BODY: Quicksand Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

        <link href="/static/styles.css" rel="stylesheet">

        <title>SleepS50 {% block title %}{% endblock %}</title>

    </head>

    <body>

        <!--Page title-->
        <div class = "header">
            <p class="title">SleepS50</p>
        </div>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer>
            <nav class="menu" class="navbar">
                <input checked="checked" class="menu-toggler" type="checkbox">
                <label for="menu-toggler"></label>
                <ul>
                    <li class="menu-item">
                    <a class="fas fa-cat" href="/login"></a>
                    </li>
                    <li class="menu-item">
                    <a class="fas fa-cookie-bite" href="/diary"></a>
                    </li>
                    <li class="menu-item">
                    <a class="fab fa-earlybirds" href="/log"></a>
                    </li>
                    <li class="menu-item">
                    <a class="fab fa-fly"href="/resources"></a>
                    </li>
                </ul>
            </nav>
        </footer>

    </body>

</html>