{% extends "layout.html" %}

{% block title %}
    Log
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">hours slept</th>
                <th class="text-end">alarm snooze count</th>
                <th class="text-end">sleep quality </th>
                <th class="text-end">wake up mood</th>
                <th class="text-end">current day's goal</th>
                <th class="text-end">dream</th>
                <th class="text-end">day</th>
            </tr>
        </thead>
        <tbody>
            {% for diary in diarys %}
                <tr>
                    <td class="text-start">{{diary.hours_slept}}</td>
                    <td class="text-end">{{diary.snoozes}}</td>
                    <td class="text-end">{{diary.sleep_quality}}</td>
                    <td class="text-end">{{diary.mood}}</td>
                    <td class="text-end">{{diary.daily_goals}}</td>
                    <td class="text-end">{{diary.dream}}</td>
                    <td class="text-end">{{diary.time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}