{% extends "layout.html" %}

{% block title %}
    Log
{% endblock %}

{% block main %}
    <!-- <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">hours slept</th>
                <th class="text-end">alarm snooze count</th>
                <th class="text-end">sleep quality </th>
                <th class="text-end">wake up mood</th>
                <th class="text-end">current day's goal</th>
                <th class="text-end">dream</th>
                <th class="text-end">day</th>
            </tr>
        </thead>
        <tbody>
            {% for diary in diarys %}
                <tr>
                    <td class="text-start">{{diary.hours_slept}}</td>
                    <td class="text-end">{{diary.snoozes}}</td>
                    <td class="text-end">{{diary.sleep_quality}}</td>
                    <td class="text-end">{{diary.mood}}</td>
                    <td class="text-end">{{diary.daily_goals}}</td>
                    <td class="text-end">{{diary.dream}}</td>
                    <td class="text-end">{{diary.time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
    {% for diary in diarys %}
    <div class="card">
        <div class="card-header">
          {{diary.time}}
        </div>
        <div class="card-body">
          <h5 class="card-text">I woke up feeling like: {{diary.mood}} </h5>
          <h3 class="card-text">Sleep Quality: {{diary.sleep_quality}}  Hours Slept:{{diary.hours_slept}}  Snoozes: {{diary.snoozes}} </h5>
          <p class="card-text">My goals for today are: {{diary.daily_goals}} </p>
          <p class="card-text">Last night I dreamt about: {{diary.dream}}</p>
          <br>
        </div>
      </div>
    {% endfor %}
{% endblock %}