{% extends "layout.html" %}

{% block title %}
    Log
{% endblock %}

{% block main %}
    {% for diary in diarys %}
    <div class="card margins">
        <div class="card-header" style="background-color:#FFF3CD">
          <b>{{diary.time}}</b>
        </div>
        <div class="card-body">
          <p class="card-text"><b>i woke up feeling:</b> {{diary.mood}}</p>
          <p class="card-text"><b>sleep quality:</b> {{diary.sleep_quality}}  <b>|  hours slept:</b> {{diary.hours_slept}}  <b>|  snoozes:</b> {{diary.snoozes}}</p>
          <p class="card-text"><b>my goals for today are:</b> {{diary.daily_goals}}</p>
          <p class="card-text"><b>last night I dreamt about:</b> {{diary.dream}}</p>
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock %}