{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}
    <h4 class=header2>we hope these help!</h4>

    <table class="styled-table center">
        <tbody>
        {% for tips in tips %}
            <tr>
                <td class="text-start">{{tips.category}}</td>
                <td class="text-start">{{tips.source}}</td>
                <td class="text-start">{{tips.link}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}   
