{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
        <div class="card">
            <img src="INSERT" class="card-img-top" alt="INSERT">
            <div class="card-body">
            <h4 class="card-title centered">meditation</h4>
            <p class="card-text">Information</p>
            </div>
        </div>
        </div>
        <!--Source 2-->
        <div class="col mb-4">
        <div class="card">
            <img src="INSERT" class="card-img-top" alt="INSERT">
            <div class="card-body">
            <h4 class="card-title centered">title</h4>
            <p class="card-text">Information</p>
            </div>
        </div>
        </div>
        <!--Source 3-->
        <div class="col mb-4">
        <div class="card">
            <img src="INSERT" class="card-img-top" alt="INSERT">
            <div class="card-body">
            <h4 class="card-title centered">title</h4>
            <p class="card-text">Information</p>
            </div>
        </div>
        </div>
        <!--Source 4-->
        <div class="col mb-4">
        <div class="card">
            <img src="INSERT" class="card-img-top" alt="INSERT">
            <div class="card-body">
            <h4 class="card-title centered">title</h4>
            <p class="card-text">Information</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}