{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}
<p>
    these articles might help! :) <br>
    {{sleep}}
    {{meditation_tips}}
    {{music}}
    {{dreams_tips}}
<!-- 
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">source</th>
                <th class="text-start">link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-start">{{sleep_tips.source}}</td>
                <td class="text-start">{{sleep_tips.link}}</td>
            </tr>
        </tbody>
        <br>
    </table>

    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">source</th>
                <th class="text-start">link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-start">{{meditation_tips.source}}</td>
                <td class="text-start">{{meditation_tips.link}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">source</th>
                <th class="text-start">link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-start">{{music.source}}</td>
                <td class="text-start">{{music.link}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">source</th>
                <th class="text-start">link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-start">{{dreams_tips.source}}</td>
                <td class="text-start">{{dreams_tips.link}}</td>
            </tr>
        </tbody>
    </table> -->

</p>
    
{% endblock %}